<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edit User</h5>    
    <form *ngIf="loading==false" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="sr-only">Email address</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-md-4">
          <label class="sr-only">First Name:</label>
          <input formControlName="firstName" placeholder="First Name" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label class="sr-only">Last Name:</label>
          <input formControlName="lastName" placeholder="Last Name" class="form-control">
        </div>        
      </div>
      <button class="btn btn-primary">Update</button>      
    </form>
    <img *ngIf="loading" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" width="50"> 
  </div>
</div>
